/* 768 */
@media (max-width: 769px) {
    header .menu {
        display: none;
    } 

    .img-cachorro {
        width: 16em;
        height: 15em;
        margin: 0 auto;
    }

    .texto-f .principal{
        font-weight: 10em;
    }

    .titulo-b p {
        width: 20em;
        margin-left: 11em;
    }

    .campo-b img {   
        
    }
}

/* 425px */
@media (max-width: 426px) {
    
    header .menu {
        display: none;
        margin-left: 0 ;
    }
   .home {
    background-image: url('../img/Banner\ \(1\).png');
    height: 200px;
    background-position: center;
   }
    .home h1 {
    
        font-size: 2em;
    }
    .home button {
        padding: 10px 30px;
        font-size: 0.9em;
    }

    .quem-somos .d-flex {
        flex-direction: column;
        align-items: center;
    }


    .descritivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    }
    
    .img-cachorro {
            width: 100%;
            height: auto;
            margin: 0 auto;
     }

     .principal {
        text-align: center;
     }

     .beneficios .d-flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
     }

     .titulo-b p {
        align-items: center;
        font-size: 1em;
     }
}

