@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor--preto: #000000;
    --cor--branco: #ffffff;
    --cor--rosa-shoque: #EA1C81;
    --cor--cinza: #424E66;
    --cor--azul-bebe: #D8F1FB;
    --cor--bg-azul: #E1E5F7
}


* {
    margin: 0;
    padding: 0;
    color: var(--cor--preto);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.d-flex {
    display: flex;
}
/* Descrição */
.descritivo{
    background-color: var(--cor--bg-azul);
    padding: 60px;
}

.img-cachorro{
    margin-left: 100px;
}

.texto-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 350px;
}

.texto-f .principal{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor--rosa-shoque);
}
/* Beneficios */

.titulo-b {
    text-align: center;
    padding: 20px;
}

.titulo-b h3 {
    color: var(--cor--rosa-shoque);
    font-size: 2.5em;
}

.titulo-b p {
    color: var(--cor--cinza);
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 450px;
    margin-right: 450px;
}

.suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/*  */
.servicos {
    background-color: var(--cor--azul-bebe);
}

.titulo-b h3 {
    color: var(--cor--rosa-shoque);
    font-size: 2.5em;
}

.titulo-b p {
    color: var(--cor--cinza);
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 450px;
    margin-right: 450px;
}

.suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/*  */
.servicos {
    background-color: var(--cor--azul-bebe);

}

.titulo-b h3 {
    color: var(--cor--rosa-shoque);
    font-size: 2.5em;
}

.titulo-b p {
    color: var(--cor--cinza);
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 450px;
    margin-right: 450px;
}

.suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/*  */
.servicos {
    background-color: var(--cor--azul-bebe);

}

.servicos h3 {
    text-align: center;
    padding-top: 60px;
  
    color: var(--cor--rosa-shoque);
    font-size: 1.7em;
}

.servicos p {
    text-align: center;
    padding-top: 30px;
    color: var(--cor--cinza);
    padding-bottom: 40px;
    font-style: light;
}

.img-servicos {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 70px;
}

/* Avaliação */

.campos {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.avaliacao {
    padding: 30px;
}

.avaliacao h3 {
    text-align: center;
    padding: 20px;
    color: var(--cor--cinza);
    font-size: 1.7em;
}

.avaliacao p {
    text-align: center;
    padding: 10px;
    color: var(--cor--cinza);
    padding-bottom: 70px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

input {
    width: 20vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.5px solid var(--cor--cinza);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    
}

.avaliacao label {
    display: block;
    margin-bottom: 5px;
    color: var(--cor--cinza);
    
}

.avaliacao button {
    background-color: var(--cor--rosa-shoque);
    color: var(--cor--branco);
    padding: 10px 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* GREGA */

.fundo-menu {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #D8F1FB;
}

.fundo-menu img {
    width: 50px; 
    margin-right: 20px; 
}

.menu .d-flex {
    display: flex;
    gap: 15px; 
}

.botao-menu {
    background-color: #EA1C81;
    padding: 8px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    color: var(--cor--branco);
    font-size: 15px;
    margin-left: 20px;
    
}

.menu {
    margin-left: 680px;
}

.menu-letras {
    margin-top: 10px;
}

h4{
    color: #EA1C81;
}

.quem-somos {
    padding: 90px 0px;
    gap: 100px;
    max-width: 1000;
}
.quem-somos h4{
    margin-bottom: 20px;
}
.quem-somos p{
    color: var(--cor--cinza);
}
.textobv2 {
    margin-top: 30px;
    width: 40%;
}

.textobv{
    width: 30%;
    margin-left: 100px;
}

.destaque{
    color: #FF0004;    
}