<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog-Dodói</title>
</head>
<body>
    <header>
        <div class="container d-flex between">
            <img src="" alt="Logo">
            <nav>
                <a href="">Início</a>
                <a href="">Benefícios</a>
                <a href="">Serviços</a>
                <a class="btn btn-primary" href="">Avaliação</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="home">
            
        </section>
        <section class="quem-somos">

        </section>
        <section class="descritivo">

        </section>
        <section class="beneficios">

        </section>
        <section class="servicos">

        </section>
        <section class="avaliacao">

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>