<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog-Dodói</title>
</head>
<body>
    <header>
        <div class="container d-flex between">
            <img src="" alt="Logo">
            <nav>
                <a href="">Início</a>
                <a href="">Benefícios</a>
                <a href="">Serviços</a>
                <a class="btn btn-primary" href="">Avaliação</a>
            </nav>
        </div>
    </header>

    </header>
    <main>
        <section class="home">
            
        </section>
        <section class="quem-somos">

        </section>
        <section class="descritivo">
           <img src="../static/img/cao - cachorro.png" alt="" class="img-cachorro">
            <div class="texto-f">
                <p>Oferecemos os cuidados que seu  companheiro necessita.</p>
                <p>Estamos comprometidos em fornecer cuidados abrangentes e de qualidade para cada animal de estimação, para melhorar seu bem-estar e qualidade de vida.</p>
            </div>
        </section>
        <section class="beneficios">
            <div class="titulo-b">
                <h3>Nossos Beneficios</h3>
                <p>Oferecemos serviços médicos e cirúrgicos para animais de estimação</p>
            </div>
            <div class="medico">
                <img src="../static/img/iconMedico.png" alt="">
                <pc class="tilulo-b">Médicos Especializados</p>
                <p>Cada membro de nossa equipe passou por treinamento para se tornar um especialista.</p>
            </div>
             <div class="consulta">
                <img src="../static/img/iconConsulta.png" alt="">
                <pc class="tilulo-b">Consultas em casa</p>
                <p>Nós fornecemos serviços veterinários móveis para seus animais de estimação.</p>
            </div>
             <div class="Suporte">
                <img src="../static/img/iconSuporte.png" alt="">
                <pc class="tilulo-b">Suporte ao paciente 24/7</p>
                <p>Emergência veterinária 24 horas por dia, 7 dias por semana e atendimento especializado para pacientes como de costume.</p>
            </div>
        </section>
        <section class="servicos">

        </section>
        <section class="avaliacao">

        </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>